@charset "utf-8";
@import "main.css";
@import "skills.css";
@import "blog.css";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul li{
    list-style: none;
}
a{
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6{
    font-weight: 300;
}
