@charset "utf-8";

/* tablet */
@media (max-width: 768px) {
    .desktop {
        display: none;
    }
    .tablet {
        display: block;
    }

    .wrap {
        width: 100%;
    }
}

/* mobile */
@media (max-width: 480px) {
    .desktop,
    .tablet {
        display: none;
    }
    .mobile {
        display: block;
    }
    .left {
        float: none;
        width: 100%;
        height: 300px;
    }
    .right {
        width: 100%;
        height: 300px;
    }
}
