@charset "utf-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    display: inline-block;
    color: inherit;
    text-decoration: none;
}
ul {
    list-style: none;
}
.tab-wrapper {
    max-width: 960px;
    margin: 0 auto;
}
.tab-menu {
    background: pink;
    display: flex;
    justify-content: flex-end;
}
.tab-menu li {
    margin-right: 2rem;
}
.tab-menu li a {
    padding: 1rem 2rem;
    background: #111;
    color: #999;
    line-height: 50px;
}
.tab-menu li a:hover,
.tab-menu li a:active
{
    background: #999;
    color: #111;
}
.tab-content div {
    border: 1px solid #000;
    display: none;
}