<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="css/layout.css">
<title>layout- 3</title>
<style>
    aside {
        width: 30%;
        height: 900px;
        line-height: 900px;
        float: left;
    }
    header, main, footer {
        width: 70%;
        height: 300px;
        float: left;
        line-height: 300px;
    }

</style>
</head>
<body>

    <div id="wrap">
        <aside class="item">
            aside
        </aside>
        <header class="item">
            header
        </header>
        <main class="item">
            contents
        </main>
        <footer class="item">
            footer
        </footer>
    </div>

</body>
</html>