@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Exo+2:wght@100&family=Noto+Sans+KR:wght@100&display=swap');
/* reset */
*{margin: 0; padding: 0;}
li {list-style: none;}
a{text-decoration: none; color:inherit}

/* layout */
.mo {display: none;}
.en {font-family: 'Exo 2', sans-serif;}
body {
    font-family: 'Noto Sans KR', sans-serif; font-size: 14px;
}
.wrap {margin: 0 auto; background-color: #fff;}
#skip-nav {position: fixed; left: 0; top:-9999px; width:100%; line-height: 40px;
    background: #999; color:#fff; text-align: center;border-bottom:orange; transition: all 0.5s;}
#skip-nav:focus {top:0}
header {position: fixed; top:0; left:0; width: 100%; height: 100px; line-height: 100px; background:rgba(0,0,0,0.2); z-index: 100;}
.innerHeader { width: 1600px; margin: 0 auto; box-sizing: border-box; overflow: hidden;}
.innerHeader .logo { float: left; padding-top: 15px;}
.innerHeader .logo img {width: 100%; height: auto;}
.innerHeader .gnbMo {display: none;}
.innerHeader .gnb { float: left; margin-left: 80px;}
.innerHeader .gnb li { float: left; margin-right: 80px;}
.innerHeader .gnb li a { display: block; width: 100%; height: 100%; text-align: center; color: #fff;font-size: 16px;}
.innerHeader .gnb li a:hover,.innerHeader .gnb li a:focus {color: orange}
.innerHeader .tnb {float: right;}
.innerHeader .tnb li {float: left; margin-right: 20px;}
.innerHeader .tnb li a {display: block; width: 100%; height: 100%; text-align: center; font-size: 16px; color: #fff}
.innerHeader .tnb li:nth-child(1) a i, .innerHeader .tnb li:nth-child(2) a i {font-size: 20px; margin-right: 8px;}
.innerHeader .tnb li:last-child a { display: block; width: 105px; line-height: 2; border: 1px solid #fff; border-radius: 30px; margin-top: 30px;}
.innerHeader .tnb li:last-child a i {margin-left: 5px;} 
.innerHeader .tnb li:last-child a:hover { background-color: rgba(255,255,255,0.5); color: orange; transition: all 0.5s;}

/* section.main */
section.main {width: 100%; height: 100vh; background: url(../img/vis_4.jpg) no-repeat center/cover; position: relative; background-attachment: fixed;}
section.main .mainTitle {position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); color: #fff; text-align: center;
text-shadow: 0 0 5px rgba(0, 0, 0, 0.5); animation-name: mainTitle; animation-duration: 1s;}
@keyframes mainTitle {
    0% {opacity: 0; top: 60%; }
    30% {opacity: 0; top: 60%; }
    100% {opacity: 1; top: 50%; }
}
section.main h2 {font-size: 55px; margin-bottom: 20px}
section.main p {font-size: 25px; margin-bottom: 30px;}
section.main .mainTitle .view {display: block; width: 180px; margin: 0 auto; padding: 8px 0; font-size: 15px;
text-transform: uppercase; letter-spacing: 1px; border: 1px solid #fff; border-radius: 40px; position: relative;
overflow: hidden;}
section.main .mainTitle .view:after {content: ''; width: 0%; height: 100%; background: rgba(255, 255, 255, 0.4);
     position: absolute; top:0; left:0}
section.main .mainTitle .view:hover:after {width: 100%; transition: all 0.3s;}

/* section.about */
section.about {background: #fff; padding: 80px 0;}
section.about .title {color: #000; text-align: center;}
section.about .title h2 {font-size: 45px; margin-bottom: 5px; font-weight: normal;}
section.about .title h2 span {color: orange;}
section.about .title p {font-size: 18px; color: #555;}
section.about ul {margin: 30px auto; width: 1400px; border-bottom: 1px solid #ddd; overflow: hidden;}
section.about ul li {float: left; width: 33.3333%;}
section.about ul li a {display: block; width: 100%; height: 100%;}
section.about ul li a p.img {width: 100%; height: 369px; overflow: hidden;}
section.about ul li a p.img img {width: 100%; height: auto; }
section.about ul li a:hover p.img img, 
section.about ul li a:focus p.img img {
    transform: scale(1.2); transition: all 1s;
}
