@charset "utf-8";

* {
    padding: 0;
    margin: 0;
}
ul {
    text-align: center;
}
body {
    background: #111;
    color: #999;
}
/* layout */
.inner {
    margin: 0 auto;
    width: 900px;
    padding: 50px 0;
}

/* header */
header {
    height: 250px;
    text-align: center;
    margin-bottom: -100px;
    background: #666;
}
header .desc {
    display: inline-block;
}
/* section.intro */
.intro .inner {
    padding-top: 0;
    padding-bottom: 50px;
}
.intro img {
    width: 150px;
    border-radius: 50%;
    background: #111;
    border: 1px solid #999;
}
.intro .photo {
    text-align: center;
    margin-bottom: 50px;
}
/* sns */
.sns {
    padding: 1rem;
    width: 200px;
    margin: 0 auto;
}
.sns a {
    border: 1px solid #000;
    display: inline-block;
    border-radius: 50%;
    background: #fff;
    padding: 0.2rem;
    text-align: center;
    margin-right: 5px;
}
.sns .fab {
    color: #999;
    font-size: 1.4rem;
    width: 2rem;
    transition: all .5s;
    padding-top: 3px;
}
.sns a:hover i {
    transform: rotateY(360deg);
    color: #fff;
}
.sns a:nth-child(1):hover {
    background: #3b5999;
}
.sns a:nth-child(2):hover {
    background: #e4405f;
}
.sns a:nth-child(3):hover {
    background: #55acee;
}
.sns a:nth-child(4):hover {
    background: #dd4b39;
}

.intro .desc .descItem {
    /* border: 1px solid #999; */
    /* padding: 0 10px; */
    text-align: left;
    margin-bottom: 20px;
    transition: all 1s;
    /* border: 1px solid red; */
    padding: 10px 10px;
}
.intro .desc .descItem:hover {
    transform: translateY(-15px);
    /* margin: 0 -50px; */
    /* padding: 0 50px; */
    /* box-shadow: 1px 0px 1px #999, 0px 1px 2px #999, -1px 0px 1px #999; */
    box-shadow: 1px 1px 1px #999, -1px 0 1px #999;
}
.intro .desc h3 {
    margin-bottom: 5px;
}
.intro .desc .descItem p {
    /* border: 1px solid red; */
    /* width: 900px; */
}

/* section.profile */
.profile li {
    display: inline-block;
    text-align: center;
    width: calc(100% / 4);
    list-style: none;
    transition: all .7s;
    margin-right: 10px;
    box-shadow: 0 0 5px gray;
    overflow: hidden;
}
.profile img {
    width: 100%;
    margin-bottom: -50px;
    transition: all .4s;
}
.profile h2 {
    margin-bottom: 16px;
}
.profile p {
    display: inline-block;
    width: 100%;
    background: #111;
}
.profile li:hover {
    /* transform: scale(1.2); */
    transform: translateY(-10px);
}

/* sectoin.skills */
.skills {
}
.skills .skillProgress {
    border: 1px solid #999;
    padding: 2%;
}
.skills .skillProgress h1 {
    text-align: center;
    text-transform: uppercase;
}
.skills .skillProgress .progress {
    border: 1px solid #999;
    padding: 0.5%;
}
.skills .skillProgress .item {
    margin-bottom: 10px;
}
.skills .skillProgress .item p {
    margin-bottom: 7px;
}
.skills .skillProgress .item p span:first-child {
    display: inline-block;
    width: 80px;
}
.skills .skillProgress .item .progressLevel {
    border: 1px solid #000;
    height: 10px;
    background: linear-gradient(to right, gold, red);
}
.skills .skillProgress .item:nth-of-type(1) .progressLevel {
    width: 70%;
}
.skills .skillProgress .item:nth-of-type(2) .progressLevel {
    width: 80%;
}
.skills .skillProgress .item:nth-of-type(3) .progressLevel {
    width: 70%;
}
.skills .skillProgress .item:nth-of-type(4) .progressLevel {
    width: 90%;
}
.skills .skillProgress .item:nth-of-type(5) .progressLevel {
    width: 80%;
}
.skills .skillProgress .item:nth-of-type(6) .progressLevel {
    width: 70%;
}
