@charset "utf-8";

/* reset.css */
/* universal 전체 영역 */
* {
    margin: 0;
    padding: 0;
    /* 모든 크기를 width, height에 맞춘다 */
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
ul, li {
    list-style: none;
}