@charset "utf-8";
@import "reset.css";

body {
    background: #fff8dc;
    margin: 0 150px;
    font-family: 'Noto Sans KR', sans-serif;
}
/* header */
header {
    background: #DEB887;
    text-align: center;
    padding: 70px;
}
header h1 {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
header p {
    font-size: 23px;
}
header img {
    width: 180px;
    border-radius: 50%;
    margin-bottom: -180px;
}

/* intro section */
.intro {
    padding: 90px 0 0 0;
}
.intro h2 {
    margin-bottom: 20px;
    font-weight: 600;
}
.intro p {
    font-size: 18px;
    line-height: 30px;
}
.intro ul li {
    display: inline-block;
    margin-right: 30px;
}
.intro ul li p {
    font-weight: 600;
}

/* profile section */
.profile {
    /* border: 1px solid #000; */
    display: inline-block;
    width: 100%;
    height: 300px;
    text-align: center;
    padding: 20px;
}
.profile .profile1 {
    display: inline-block;
    width: 30%;
    height: 300px;
    /* border: 3px solid #DEB887; */
    border-radius: 20px;
    margin: 7px;
    padding: 10px;
    box-shadow: 0px 0px 13px #DEB887;
}
.profile1:hover {
    background: #DEB887;
    transition: 1s;
}
.profile .profile1 h1 {
    padding-bottom: 5px;
    font-weight: 600;
}
.profile .profile1 img {
    width: 180px;
}
.profile p {
    font-size: 18px;
}
/* skill section */
.skills {
    border: 3px solid #DEB887;
    border-radius: 10px;
    width: 100%;
    height: 800px;
    padding: 10px;
    margin-top: 50px;
}
.skills h1 {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    padding: 20px 0 30px;
}
.skill {
    border: 2px solid #DEB887;
    border-radius: 10px;
    margin-bottom: 15px;
}
.skill span {
    padding-left: 10px;
}
.skill span:nth-child(1) {
    padding-right: 50px;
}
.skill .skillBox{
    border: 2px solid #DEB887;
    border-radius: 10px;
    margin: 10px;
    height: 50px;
}
.skill:nth-child(2) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 90%;
    height: 30px;
    margin: 10px;
    /* transition-property: inherit;
    transition-duration: .5s;
    transition-timing-function: linear; */
}
.skill:nth-child(3) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 80%;
    height: 30px;
    margin: 10px;
}
.skill:nth-child(4) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 90%;
    height: 30px;
    margin: 10px;
}
.skill:nth-child(5) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 60%;
    height: 30px;
    margin: 10px;
}
.skill:nth-child(6) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 70%;
    height: 30px;
    margin: 10px;
}
.skill:nth-child(7) .skillcolor {
    background-image: linear-gradient(to right, #FFE29F, #FFA99F);
    border-radius: 20px;
    width: 50%;
    height: 30px;
    margin: 10px;
}
