@charset "utf-8";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css";

/* typography */
:root {
    /* font standard 10px */
    font-size: 62.5%;

    /* size */
    --font-large: 2rem;
    --font-medium: 1.8rem;
    --font-regular: 1.6rem;
    --font-small: 1.5rem;
    --font-micro: 1.4rem;
    
    /* color */
    --primary-color: #f37321;
}
body {
    font-size: var(--font-regular);
    font-family: '맑은 고딕','Malgun Gothic','돋움',Dotum,Helvetica,AppleGothic,Sans-serif;
}
.clearfix:after {
    content:'';
    display: block;
    clear: both;
}
.marginfix:before {
    content:'';
    display: table;
}
/* icon, images */
.icon {
    background-image: url(../image/common/ico.png);
    background-repeat: no-repeat;
    display: inline-block;
}
.logo {
    width: 234px;
    height: 41px;
    background-position: 0px -594px;
    /* border: 1px solid blue; */
}
.icon-toggle {
    width: 50px;
    height: 24px;
    background-position: -651px 0;
}
.ir-logo {
    width: 159px;
    height: 57px;
    background-position: -306px -457px;
}
.right-arrow {
    width: 16px;
    height: 8px;
    background-position: -120px -100px;
}
.right-arrow-bg-coral {
    background-position: -400px -100px;
    width: 32px;
    height: 32px;
}
.lang {
    background-position: -273px 0;
    width: 32px;
    height: 23px;
}