@charset "utf-8";
/* @import "./respond.css" screen and(); */

/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: inherit;
}
li {
    list-style: none;
}
body {
    font-size: 14px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}

/* respond */
.mo {
    display: none;
}

section .title {
    text-align: center;
}
section .title h2 {
    font-size: 45px;
    margin-bottom: 5px;
}
section .title h2 span {
    color: coral;
}
section .title p {
    font-size: 25px;
}

/* wrap */
.wrap {
    margin: 0 auto;
}
/* skip */
#skip-nav {
    position: fixed;
    background-color: lightcoral;
    width: 100%;
    text-align: center;
    left: 0;
    top: -41px;
    height: 40px;
    line-height: 40px;
}
#skip-nav:focus {
    top: 0;
}
/* header */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 100;
}
header .innerHeader {
    width: 1600px;
    margin: 0 auto;
    overflow: hidden;
}
/* logo */
header .innerHeader .logo {
    float: left;
    font-size: 20px;
}
header .innerHeader .logo a {
    display: block;
    color: #fff;
}
/* gnb */
header .innerHeader .gnb {
    float: left;
    height: 100px;
    margin-left: 50px;
}
header .innerHeader .gnb ul li {
    display: inline-block;
    width: 100px;
    text-align: center;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}
header .innerHeader .gnb ul li a {
    display: block;
    height: 100px;
}
header .innerHeader .gnb ul li a:hover,
header .innerHeader .gnb ul li a:focus {
    color: coral;
}
/* tnb */
header .innerHeader .tnb {
    float: right;
}
header .innerHeader .tnb ul li {
    display: inline-block;
    height: 100px;
    color: #fff;
    font-size: 16px;
    margin-right: 10px;
}
header .innerHeader .tnb ul li a {
    display: block;
    height: 100%;
}
header .innerHeader .tnb ul li:nth-child(1) a:hover,
header .innerHeader .tnb ul li:nth-child(2) a:hover {
    color: coral;
}
header .innerHeader .tnb ul li:last-child {
    height: 50px;
    vertical-align: top;
    margin-top: 23px;
}
header .innerHeader .tnb ul li:last-child a {
    border-radius: 30px;
    border: 1px solid #fff;
    padding: 0 15px;
    padding-top: 2px;
    line-height: 50px;
}
header .innerHeader .tnb ul li:last-child a:hover,
header .innerHeader .tnb ul li:last-child a:focus {
    color: coral;
    background-color: #fff;
}
/* gnbMo */
header .innerHeader .gnbMo {
    display: none;
}

/* section.main */
section.main {
    width: 100%;
    height: 100vh;
    background: url(../img/vis_4.jpg) no-repeat center/cover;
    /* margin-top: 100px; */
    position: relative;
    background-attachment: fixed;
    color: #fff;
}
section.main .mainTitle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.4);
    animation-name: mainTitle;
    animation-duration: 1s;
}
@keyframes mainTitle {
    0% {
        opacity: 0;
        top: 60%;
    }
    100% {
        opacity: 1;
        top: 50%;
    }
}

section.main .mainTitle h2 {
    font-size: 40px;
    margin-bottom: 20px;
}
section.main .mainTitle p {
    font-size: 20px;
    margin-bottom: 40px;
}
section.main .mainTitle a {
    display: block;
    margin: 0 auto;
    width: 200px;
    font-size: 15px;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 10px 30px;
    text-transform: uppercase;
    position: relative;
    overflow: hidden;
}
section.main .mainTitle .view:after {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    content: "";
    width: 0;
    background-color: rgba(255, 255, 255, 0.205);
}
section.main .mainTitle .view:hover:after {
    width: 100%;
    transition: all 0.3s;
}

/* section.about */
section.about {
    /* background-color: #ddd; */
    padding: 80px 0;
}
section.about ul {
    margin: 30px auto;
    width: 1400px;
    border-bottom: 1px solid #000;
    overflow: hidden;
}
section.about ul li {
    float: left;
    width: 33.3333%;
    overflow: hidden;
}
section.about ul li a {
    display: block;
}
section.about ul li p.img {
    overflow: hidden;
}
section.about ul li p.img img {
    transition: all 1.5s;
    display: block;
}
section.about ul li img:hover {
    transform: scale(1.5);
    transition: all 1.5s;
}
section.about ul li .text {
    padding: 30px;
}
section.about ul li .text h3 {
    font-size: 20px;
    margin-bottom: 20px;
}
section.about ul li .text p {
    font-size: 16px;
    margin-bottom: 10px;
}
section.about ul li .text .more {
    font-size: 16px;
    position: relative;
    padding-left: 40px;
    line-height: 30px;
}
section.about ul li a .text p.more:before {
    content: "\f30b";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: coral;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    border-radius: 50%;
    line-height: 30px;
}

/* section.innovation */
section.innovation {
    margin-bottom: 150px;
}
section.innovation .imgBox {
    width: 1400px;
    width: 100%;
    height: 540px;
    background: url(../img/product_1.jpg) no-repeat center/cover;
    position: relative;
    margin: 50px auto;
}
section.innovation .imgBox .content {
    position: absolute;
    width: 80%;
    bottom: -50px;
    left: 50%;
    transform: translateX(-50%);
}
section.innovation .imgBox .content h2 {
    padding: 25px 45px;
    background-color: #fff;
}
section.innovation .imgBox .content .bottom {
    color: #fff;
    padding: 35px 10%;
    background-color: #3a3d4e;
    overflow: hidden;
}
section.innovation .imgBox .content .bottom p {
    float: left;
    width: 80%;
}
section.innovation .imgBox .content .bottom a {
    float: right;
    background-color: coral;
    padding: 10px 20px;
    border-radius: 20px;
    vertical-align: top;
}

/* section.me */
section.me {
    background: url(../img/me.jpg) no-repeat center/cover;
    padding: 80px 0;
    margin-bottom: 150px;
}
section.me ul.list {
    width: 1400px;
    margin: 50px auto;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}
section.me ul.list > li {
    padding: 30px 60px;
}
section.me ul.list h3 {
    font-size: 18px;
    margin-bottom: 20px;
    position: relative;
}
section.me ul.list h3 i {
    position: absolute;
    left: -35px;
    color: coral;
}
section.me ul.list p.sumbnail {
    margin-bottom: 20px;
}
section.me ul.list > li:first-child a {
    margin-bottom: 20px;
}
section.me ul.in {
    margin-bottom: 30px;
}
section.me ul.in li {
    margin-bottom: 10px;
    overflow: hidden;
}
section.me ul.in li span {
    float: left;
    width: 12%;
}
section.me ul.in li p {
    float: left;
    width: 88%;
    position: relative;
}
section.me ul.in li p:before {
    content: '';
    background-color: coral;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    display: inline-block;
    vertical-align: top;
    margin-top: 6px;
    margin-right: 40px;
}
section.me a.more i {
    margin-left: 10px;
    color: coral;
}
section.me .recruit {
    width: 200px;
    height: 30px;
    margin: 0 auto;
    display: block;
    line-height: 30px;
    background-color: coral;
    border-radius: 20px;
    text-align: center;
    color: #fff;
}
/* section.sns */
section.sns ul {
    width: 1400px;
    margin: 50px auto;
    overflow: hidden;
}
section.sns ul li {
    float: left;
    width: 32%;
    margin-right: 1%;
}
section.sns ul li a {
    display: block;
}
section.sns ul li p.img {
    background-color: coral;
}
section.sns ul li p.img {
    position: relative;
}
section.sns ul li p.img img {
    vertical-align: top;
}
section.sns ul li p.img::before {
    content: '';
    width: 0%;
    height: 100%;
    background-color: rgba(255, 131, 66, 0.9);
    position: absolute;
    top: 0;
    left: 0;
    transition: all 0.8s;
}
section.sns ul li a:hover p.img::before,
section.sns ul li a:focus p.img::before {
    width: 100%;
    transition: all 0.8s;
}
section.sns ul li p.img:after {
    content: "BLOG";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    padding: 10px 30px;
    opacity: 0;
    border: 1px solid #fff;
    border-radius: 20px;
    transition: all 0.8s;
}
section.sns ul li a:hover p.img:after {
    opacity: 1;
    transition: all 0.8s;
}
section.sns ul li img {
    width: 100%;
    height: 100%;
}
section.sns ul li .sumbnail {
    padding: 10px 0 10px 10px;
}
section.sns ul li h4 {
    color: coral;
    font-size: 15px;
}
section.sns ul li .sumbnail p {
    margin-top: 5px;
    font-size: 18px;
}
section.sns ul li small {
    display: inline-block;
    margin-top: 30px;
    font-size: 15px;
    color: #999;
}

/* footer */
footer {
    border-top: 1px solid #ddd;
}

footer .inner {
    width: 1600px;
    margin: 0 auto;
    height: 100px;
}
footer:after {
    content: "";
    display: block;
    clear: both;
}
footer h2.logo {
    float: left;
    margin-right: 100px;
    line-height: 100px;
}
footer address {
    margin-top: 30px;
    float: left;
}
footer address p {
    margin-bottom: 5px;
}
footer .subMenu {
    float: right;
    margin-top: 30px;
}
footer .subMenu li {
    float: left;
    margin-right: 10px;
}
footer .subMenu li a:hover,
footer .subMenu li a:focus {
    color: coral;
    text-decoration: underline;
}
footer .subMenu li a:before {
    content: '';
    background-color: #666;
    width: 3px;
    height: 3px;
    display: inline-block;
    border-radius: 50%;
    margin-bottom: 3px;
    margin-right: 8px;
}

/* 1599 PC */
@media screen and (max-width: 1599px) {
    header .innerHeader {
        width: 95%;
        min-width: 1024px;
    }
    section.about ul,
    section.innovation .imgBox,
    section.me ul.list,
    section.sns ul,
    footer .inner {
        width: 95%;
    }
    footer .inner {
        min-width: 90%;
    }
}

/* 1024 태블릿 */
@media screen and (max-width: 1024px) {
    header .innerHeader {
        width: 95%;
        min-width: 90%;
    }
    header .innerHeader .gnb,
    header .innerHeader .tnb {
        display: none;
    }
    header .innerHeader .gnbMo {
        display: block;
        font-size: 40px;
        color: #fff;
        float: right;
    }
    section.main .mainTitle {
        width: 80%;
    }
    section.me {
        margin-bottom: 50px;
    }
}

/* 768 태블릿 */
@media screen and (max-width: 768px) {
}
/* 414 모바일 */
@media screen and (max-width: 414px) {
    br.mo {
        display: block;
    }
    header {
        height: 60px;
        line-height: 60px;
    }
    header .innerHeader .logo {
        font-size: 20px;
    }
    section.main .mainTitle h2 {
        font-size: 30px;
    }
    section.innovation .imgBox .content .bottom {
        padding: 35px 10%;
    }
    section.innovation .imgBox .content .bottom p {
        width: 100%;
        margin-bottom: 5px;
    }

    section.about ul li {
        width: 100%;
    }

    section.me ul.in li p {
        width: 100%;
    }
    section.me ul.in li p:before {
        margin-right: 10px;
    }
    section.sns ul li {
        width: 100%;
    }
    footer h2.logo {
        display: block;
        text-align: center;
        font-size: 30px;
        margin: 20px auto;
    }
    footer h2.logo {
        float: none;
        line-height: 30px;
    }
    footer address {
        float: none;
        margin: 10px auto;
        text-align: center;
    }
    footer .subMenu {
        display: none;
    }
}
