@charset "utf-8";

h1.logo {
    text-align: center;
    line-height: 100px;
    color: #fff;
    text-transform: uppercase;
}

main#home {
    text-align: center;
    line-height: 500px;
    color: #3e3137;
    background-color: #fcce01;
}