<!DOCTYPE html>
<html lang="ko">
<head>
<meta charset="UTF-8">
<title>01-basic-layout</title>
<style>
    #wrap {
        width: 1100px;
        height: 1000px;
        background-color: #666;
        margin: auto;
    }
    .container { 
        background-color: tan;
        margin: 0 auto;
    }
    .column {
        float:left;
        box-sizing: border-box;
        margin-top: 30px;
        text-align: center;
        margin-left: 10px;
        border: 1px solid black;
        width: 24%;
        height: 900px;
        background-color: steelblue;
        
    }    
</style>
</head>
<body>

    <div id="wrap">
        <div class="container">
            <div class="column">
                <h1>column1</h1>
            </div>
            <div class="column">
                <h1>column2</h1>
            </div>
            <div class="column">
                <h1>column3</h1>
            </div>
            <div class="column">
                <h1>column4</h1>
            </div>
        </div>
    </div>

</body>
</html>