@charset "utf-8";

@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    margin: 0;
    color: #222;
    line-height: 1.5em;
    font-weight: 300;
}

/* reset css */
a {
    text-decoration: none;
    /* color: #222; */
}
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-weight: 500;
}
input,
button,
textarea {
    outline: none;
}
button {
    cursor: pointer;
}
ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

/* common css */
.inner {
    /* border: 1px solid red; */
    width: 1300px;
    margin: 0 auto;
}

/* header */
header {
    position: fixed;
    width: 100%;
}
.banner {
    background-color: #111;
    height: 40px;
    display: flex;
    align-items: center;
}
.lnb {
    width: 1300px;
    margin: 0 auto;
    text-align: right;
}
.lnb a {
    color: #ddd;
    margin: 10px;
}
.lnb a:last-child {
    margin-right: 0;
}
.lnb em {
    color: #bbb;
}
nav {
    width: 1300px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.logo {
}
.gnb {
    display: flex;
}
.gnb li {
}
.gnb li a {
    margin: 15px;
    color: #fff;
}
.gnb li a:hover {
    color: #999;
}
.gnb li a:last-child {
    margin-right: 0;
}

/* intro */
.intro {
    /* border: 1px solid blue; */
    height: 100vh;
    background: url(images/intro.jpg) no-repeat center center/cover;
    display: flex;
    align-items: center;
}
.heading {
    color: #fff;
    text-align: center;
}
.heading h1 {
    font-size: 56px;
    margin-bottom: 40px;
}
.heading p {
    font-size: 22px;
    line-height: 1.5em;
}
