@charset "utf-8";
@import "common.css";

/* index page */

/* top */
.skewBg {
    transform: skewY(-10deg) translateY(-110px);
    background: #f9ebde;
    color: #815854;
}
.skewBg .container {
    padding: 12rem 5rem;
    transform: skewY(10deg) translateY(100px);
}
.skewBg .aniTitle h1 {
    display: inline-block;
    margin-right: 1rem;
}
.skewBg h1,
.unskewBg h1 {
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: 3px;
    line-height: 1.3;
}
.skewBg .rotateItem {
    display: inline-block;
    width: 50px;
    height: 70px;
    background: #8158547b;
    vertical-align: top;
    line-height: 70px;
    text-transform: uppercase;
    text-align: center;
    font-size: 2rem;
    color: #fff;
}
.animate__animated.animate__flipInY {
    --animate-duration: 3.5s;
}
.animate__animated.animate__fadeInUp {
    --animate-delay: 1s;
}
.skewBg .rotateItem:nth-of-type(1) {
    animation-delay: .2s;
}
.skewBg .rotateItem:nth-of-type(2) {
    animation-delay: .4s;
}
.skewBg .rotateItem:nth-of-type(3) {
    animation-delay: .6s;
}
.skewBg .rotateItem:nth-of-type(4) {
    animation-delay: .8s;
}
.skewBg .rotateItem:nth-of-type(5) {
    animation-delay: 1s;
}
.skewBg .rotateItem:nth-of-type(6) {
    animation-delay: 1.2s;
}
.skewBg a {
    margin-top: 20px;
    text-transform: uppercase;
    border: 1px solid #815854;
    padding: 1em 2em;
    border-radius: 30px;
}
.skewBg a:hover {
    color: #f9ebde;
    background: #815854;
}

/* unskewdBg */
.unskewBg .container {
    padding: 0 5rem;
}
.unskewBg p {
    font-size: 2rem;
}
.unskewBg {
    text-align: right;
}
