@charset "utf-8";
@import "reset.css";
@import "common.css";

/* common */
section .inner {
    padding: 2rem;
}
/* header */
header {
    background: #815854;
    color: #f9ebde;
    text-align: center;
}
header h1 {
    line-height: 100px;
}

/* banner */
section.banner .inner {
    padding-bottom: 0;
}
section.banner .bannerBox {
    width: 600px;
    height: 160px;
    margin: 0 auto;
    overflow: hidden;
    border: 5px solid #815854;
}
section.banner .scroll {
    width: 1800px;
    font-size: 0;
    margin: 0 auto;
    animation: rolling-banner 5s infinite;
}
section.banner img {
    width: 600px;
    height: 160px;
}
@keyframes rolling-banner {
    0% {
        margin-left: 0;
    }
    50% {
        margin-left: -600px;
    }
    100% {
        margin-left: -1200px;
    }
}

/* nav */
nav li {
    display: inline-block;
    width: 20%;
    height: 50px;
    line-height: 50px;
}
nav a {
    height: 100%;
    width: 100%;
    font-size: 1rem;
    color: #815854;
    background: #f9ebde;
}
nav a:hover {
    background: #815854;
    color: #f9ebde;
    border: 1px solid #fff;
}
/* main */
main {
    color: #815854;
    background: #f9ebde;
}

/* common */
section {
}

/* desc */
section.desc {
}
.desc .item {
    margin-bottom: 2rem;
    height: 200px;
    border: 1px solid #000;
}
.desc .item .detail {
    width: 60%;
    height: 100%;
    padding: 2rem 1rem;
    vertical-align: top;
    display: inline-block;
}
.desc .item .detail h2 {
    margin-bottom: 1rem;
}
.desc .item img {
    width: 30%;
    height: 200px;
}
.desc .item:nth-child(1) {
    animation-delay: 1s;
}
.desc .item:nth-child(2) {
    animation-delay: 2s;
    text-align: right;
}
.desc .item:nth-child(3) {
    animation-delay: 3s;
}
.desc .item:nth-child(3) a {
    text-decoration: none;
    color: inherit;
    padding: .5em;
    display: inline-block;
    margin-top: 10px;
    background: #815854;
    color: #f9ebde;
}

/* gallery */
.gallery {
    text-align: center;
}
.gallery h1 {
    text-transform: uppercase;
}
.gallery .item {
    display: inline-block;
    width: 300px;
    border: 1px solid #000;
    margin-right: 10px;
    margin-bottom: 20px;
}
