@charset "utf-8";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
li {
    list-style: none;
}
body {
    background: rgb(141, 4, 4);
}
#wrap {
    margin: 50px 0;
}
.inner {
    /* width: 50%; */
    width: 900px;
    background: rgb(248, 244, 224);
    margin: 0 auto;
}
header {
    /* background: pink; */
    text-align: center;
}
header h1 {
    margin: 20px 0;
    padding-top: 20px;
    text-transform: uppercase;
}
header p {
    padding-bottom: 30px;
}
/* 코드 삭제 */
/* .intro { */
/* background: coral; */
/* } */
.intro .imgBox {
    text-align: center;
    margin-bottom: 10px;
}
.intro .imgBox img {
    width: 130px;
    border: 8px dotted #000;
    border-radius: 50%;
    background: rgb(248, 244, 224);
}
.intro .paragraph {
    background: #999;
    margin-left: -100px;
    margin-right: -100px;
    margin-top: 40px;
    text-align: center;
    height: 100px;
    line-height: 50px;
}

/* 여기도 쓰지 않는 코드 삭제 */
/* .intro .paragraph p { */
/* padding-bottom: 50px; */
/* } */
/* .profile { */
/* background: skyblue; */
/* } */
.profile ul {
    text-align: center;
    padding: 50px 0 50px 0;
    height: 450px;
}
.profile li {
    display: inline-block;
    width: 250px;
    border: 1px solid #999;
    box-shadow: 5px 5px 5px #666;
    transition: all .5s;
}
.profile img {
    max-width: 100%;
}
.profile li:hover {
    width: 300px;
}
.profile li h3 {
    margin: -50px 0 50px 0;
    color: #fff;
}
.profile li p {
    padding: 0 1px 5px 0;
}

/* 쓰지 않는 코드는 삭제 */
/* .skills { */
/* background: gold; */
/* } */
/* 
여기도 아랫쪽으로 마찬가지로 .container 다 날려도 되요
*/
.skills .container {
    border: 1px solid #999;
    padding: 30px;
}
.skills h2 {
    text-align: center;
    text-transform: uppercase;
}
.skills .item .progress {
    border: 1px solid #000;
    height: 40px;
    padding: 7px;
}
.skills .item p {
    padding: 5px 0;
}
.skills .item p span:nth-child(1) {
    display: inline-block;
    width: 150px;
}
.skills .progressBar {
    border: 1px solid #000;
    height: 25px;
    background: linear-gradient(to right, rgba(24, 107, 76, 1), rgba(197, 209, 186, 1));
}
/* 
.skills .container .item:nth-of-type(1) .progressBar { 
아래처럼 다이렉트로 접근해도 되요
좀더 짧아져서 좋은 면이 있죠
처음엔 연습이라 다단구조로 접근한 것도 있고
그것도 뭐 나름의 스타일이긴 한데 점점 익숙해지면 짧게 하고싶어져요
*/
.skills .item:nth-of-type(1) .progressBar {
    width: 90%;
}
.skills .item:nth-of-type(2) .progressBar {
    width: 80%;
}
.skills .item:nth-of-type(3) .progressBar {
    width: 60%;
}
.skills .item:nth-of-type(4) .progressBar {
    width: 60%;
}
.skills .item:nth-of-type(5) .progressBar {
    width: 90%;
}
.skills .item:nth-of-type(6) .progressBar {
    width: 80%;
}
