@charset "utf-8";
@import "reset.css";

#app {
    width: 500px;
    margin: 5% auto;
    border: 1px solid #999;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.7);
    overflow: hidden;
}

header {
    height: 50px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    padding: 2% 0;
}
header * {
    display: inline-block;
}
header > a {
    width: 10%;
}
header .logo {
    width: 80%;
    margin: 0 -5px;
}
header .logo img {
    width: 100px;
    height: 29px;
    padding-top: 5px;
}

/* story */
.story {
    height: 150px;
    border-bottom: 1px solid #ddd;
    padding: 15px;
}
.story .storyItem {
    display: inline-block;
    text-align: center;
    margin-right: 10px;
}
.story .storyItem a {
    display: block;
    width: 100px;
    height: 100px;
    padding: 2%;
    transition: 0.5s;
    border-radius: 50px;
}
.story .storyItem a.friend-border {
    background: linear-gradient(red, yellow);
}
.story .storyItem a:hover {
    transform: scale(0.9);
}
.story .storyItem img {
    width: 100%;
    border-radius: 50%;
}
.story .storyItem span {
    color: #6e6e6e;
    font-size: 13px;
}

/* profile */
.profile .top {
    padding: 10px;
    height: 70px;
    border: 1px solid #ddd;
}
.profile .top li {
    display: inline-block;
    vertical-align: top;
    height: 100%;
}
.profile .top li:nth-child(1) a {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.profile .top li:nth-child(1) img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.profile .top li:nth-child(1) {
    width: 10%;
}
.profile .top li:nth-child(2) {
    width: 80%;
    padding-left: 10px;
    padding-top: 6px;
}
.profile .top li:nth-child(2) p {
    font-size: 13px;
}
.profile .top li:nth-child(2) span {
    font-size: 11px;
    color: #3e3e3e;
}
.profile .top li:nth-child(3) {
    text-align: right;
    width: 10%;
}
.profile .top li:nth-child(3) a {
    margin-top: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    margin-left: 10px;
}
.profile .top li a {
    display: block;
}
.profile .top img {
    width: 50px;
}

/* profile */
.profile .photo img {
    width: 100%;
}
.profile .bottom {
    padding: 10px;
}
.profile .bottom .icons a {
    display: inline-block;
    margin-right: 10px;
}
.profile .bottom .icons .like {
    color: red;
}
.profile .bottom p {
    margin-top: 10px;
}

/* footer */
footer {
    border-top: 1px solid #ddd;
    height: 50px;
}
footer ul li {
    display: inline-block;
    width: 25%;
    margin-right: -4px;
    text-align: center;
}
footer a {
    display: block;
}
footer i {
    line-height: 50px !important;
}
