* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}
img {
    max-width: 100%;
}
section {
    margin-top: 5rem;
}
.slick__container {
    max-width: 660px;
    margin: 0 auto;
}
.slick__item {
    margin: 0 5px;
}
.slick__item img {
    width: 100%;
}
.slick-dots {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.slick-dots li {
    width: 10px;
    height: 10px;
    margin-right: 5px;
    border-radius: 50%;
    background: #eee;
}
.slick-dots button {
    width: 20px;
    height: 20px;
    border: none;
    font-size: 0;
    cursor: pointer;
    background: transparent;
}
.slick-dots .slick-active {
    background: coral;
}
/* next, prev */
.slick-prev, 
.slick-next {
    font-size: 0;
    background: #eee;
    width: 20px;
    height: 20px;
    border: none;
    border-radius: 50%;
}
.slick-prev,
.slick-next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.slick-prev{
    left: -2rem;
}
.slick-next {
    right: -2rem;
}
.slick-prev:after {
    content: "<";
    font-size: 1rem;
}
.slick-next:after {
    content: ">";
    font-size: 1rem;
}